<div *ngIf="hasNavbar" class="navbar">
    <p class="title navbar-title clickable" *ngIf="clickableNavbar; else nonClickableNavbar"
        routerLink="{{ navbarLink }}">
        {{ navbarTitle }}
    </p>
    <ng-template #nonClickableNavbar>
        <p class="title navbar-title">
            {{ navbarTitle }}
        </p>
    </ng-template>
    <hr class="separators">
    <ul class="navbar-list">
        <span *ngFor="let navbarElement of dynamicNavbarList">
            <li routerLink="{{ navbarElement.link }}" class="navbar-element">
                {{ navbarElement.name }}
            </li>
            <hr class="separators">
        </span>
    </ul>
</div>
<router-outlet></router-outlet>