<p class="comment">
    Create New Group
</p>
<div class="creationist">
    <textarea [(ngModel)]="newGroup" placeholder="Enter a group name" class="message-box"></textarea>
    <a (click)="createGroup()" class="send">Create</a>
</div>
<p *ngIf="myGroups.length > 0" class="comment">
    My Groups ({{ myGroups.length }})
</p>
<span *ngFor="let chat of myGroups">
    <div (click)="goToChat(chat)" class="chat-element clickable">
        <p class="chat-info chat-name">
            {{ chat.name }}
        </p>
        <p class="chat-info chat-date">
            <span *ngIf="chat.chat.length > 0; else emptyChat">
                {{ chat.chat[chat.chat.length - 1].date | date: 'dd.MM.yyyy HH:mm:ss':'+0100' }}
            </span>
            <ng-template #emptyChat>
                <span class="chat-creation">
                    {{ chat.createdDate | date: 'dd.MM.yyyy HH:mm:ss':'+0100' }}
                </span>
            </ng-template>
        </p>
    </div>
    <br>
</span>
<p *ngIf="favGroups.length > 0" class="comment">
    My favorite Groups ({{ favGroups.length }})
</p>
<span *ngFor="let chat of favGroups">
    <div (click)="goToChat(chat)" class="chat-element clickable">
        <p class="chat-info chat-name">
            {{ chat.name }}
        </p>
        <p class="chat-info chat-date">
            <span *ngIf="chat.chat.length > 0; else emptyChat">
                {{ chat.chat[chat.chat.length - 1].date | date: 'dd.MM.yyyy HH:mm:ss':'+0100' }}
            </span>
            <ng-template #emptyChat>
                <span class="chat-creation">
                    {{ chat.createdDate | date: 'dd.MM.yyyy HH:mm:ss':'+0100' }}
                </span>
            </ng-template>
        </p>
    </div>
    <br>
</span>
<p *ngIf="groupsImIn.length > 0" class="comment">
    Groups ({{ groupsImIn.length }})
</p>
<span *ngFor="let chat of groupsImIn">
    <div (click)="goToChat(chat)" class="chat-element clickable">
        <p class="chat-info chat-name">
            {{ chat.name }}
        </p>
        <p class="chat-info chat-date">
            <span *ngIf="chat.chat.length > 0; else emptyChat">
                {{ chat.chat[chat.chat.length - 1].date | date: 'dd.MM.yyyy HH:mm:ss':'+0100' }}
            </span>
            <ng-template #emptyChat>
                <span class="chat-creation">
                    {{ chat.createdDate | date: 'dd.MM.yyyy HH:mm:ss':'+0100' }}
                </span>
            </ng-template>
        </p>
    </div>
    <br>
</span>