<div class="window">
    <p class="title window-title">
        Password Reset
    </p>
    <br>
    <span class="comment slogin-comment">
        Please enter your new password
    </span>
    <br>
    <input type="password" name="password" class="slogin" [(ngModel)]="password" />
    <br>
    <span class="comment slogin-comment">
        Please enter your new password again
    </span>
    <input type="password" class="slogin" [(ngModel)]="passwordAgain" />
    <br>
    <button type="submit" class="button" (click)="passwordReset()">Login</button>
</div>