<div class="window">
    <p class="title window-title">
        Reset password
    </p>
    <br>
    <span class="comment slogin-comment">
        Please enter your new password
    </span>
    <br>
    <input type="password" name="username" class="slogin" [(ngModel)]="password" />
    <br>
    <span class="comment slogin-comment">
        Please enter your new password again
    </span>
    <input type="password" name="password" class="slogin" [(ngModel)]="cpassword" />
    <br>
    <span class="flex-box">
        <button type="submit" class="button" (click)="resetPassword()">Reset Password</button>
    </span>
</div>
<p *ngIf="password !== cpassword && password && cpassword" class="comment warning">
    The passwords do not match
</p>